<div class="card">
       
    <a class="btn wc-tab-purple" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
        <h5><i class="far fa-clock p-1"></i>Date and Time</h5>
      </a>

      <div class="collapse" id="collapseExample3">
          <div class="card card-body">


            <div class="container">
              <div class="row">


                  <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        select duration
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">within this hour</a>
                        <a class="dropdown-item" href="#">today</a>
                        <a class="dropdown-item" href="#">within this week</a>
                        <a class="dropdown-item" href="#">within this month</a>
                        <a class="dropdown-item" href="#">within this year</a>
                      </div>
                    </div>



              </div>
              <div class="row">


                  <a class="" data-toggle="collapse" href="#collapseExampleDate" role="button" aria-expanded="false" aria-controls="collapseExample">
                      <h4><i class="far fa-calendar-alt p-1"></i></h4>
                    </a>

                    <a class="" data-toggle="collapse" href="#collapseExampleDate" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <h4><i class="far fa-clock p-1"></i></h4>
                      </a>

              </div>
              <div class="row">



                  <div class="collapse" id="collapseExampleDate">
                      <div class="card card-body">
                          <form>
                  
                              <div class="row">
                                <div class="col">
                                  <input type="text" class="form-control" placeholder="From:">
                                </div>
                                <div class="col">
                                  <input type="text" class="form-control" placeholder="To:">
                                </div>
                              </div>
                            </form>
                      </div>
                    </div>




                    <div class="collapse" id="collapseExampletime">
                        <div class="card card-body">
                            <form>
                                <div class="row">
                                  <div class="col">
                                    <input type="text" class="form-control" placeholder="From:">
                                  </div>
                                  <div class="col">
                                    <input type="text" class="form-control" placeholder="To:">
                                  </div>
                                </div>
                              </form>
                        </div>
                      </div>


                
              </div>
            </div>

           
              

                 

                   
    
          

          
              


          </div>
        </div>



  </div>