<div class="card">
    <h5 class="card-title wc-dark-gray p-2">Posts</h5>
    <div class="card-body" >
      <div class="container p-0 m-0" style="height: 300px; overflow-y: scroll;">


          <div class="card mini-post border border-primary p-1 m-1" style=" overflow-y: hidden;">
          <p class="mini-post-title">Senaka Batagoda</p>  
          No drinking water for two days
          <a class="text-info">see more..</a>
          <div class="d-flex justify-content-end">
              <span class="badge badge-secondary mx-1">drought</span>
              <span class="badge badge-secondary mx-1">drinking</span>
          </div>
          
            </div>
            <div class="card mini-post border border-primary p-2 m-1" style=" overflow-y: hidden;">
                <p class="mini-post-title">Amanda Sekara</p>   
               we need your help
               <a class="text-info">see more..</a>
               <div class="d-flex justify-content-end">
                  <span class="badge badge-secondary mx-1">drinking</span>
              </div>
            </div>




      </div>
    </div>