<div class="card">
    <h5 class="card-title wc-dark-gray p-2">Posts</h5>
    <div class="card-body" >
      <div class="container p-0 m-0" style="height: 430px; overflow-y: scroll;">

        <div class="d-flex justify-content-start">
            <span class="badge badge-warning mx-1 p-1 "> <i class="fas fa-user-shield"></i> verified only</span>
            <input type="checkbox" name="vehicle" value="Bike">

        </div>
        
          <div class="card mini-post border border-primary p-1 m-1" style=" overflow-y: hidden;">
                <p class="mini-post-title  mt-3 mb-0">No drinking water for two days.</p>  
               
                <span class="badge badge-warning mx-1 p-1 verified"> <i class="fas fa-user-shield"></i> verified</span>
                <p class="my-0 text-secondary"><i class="fas fa-map-marker-alt "></i> Eheliyagoda,Ratnapura</p>
                <p class="my-0 text-secondary"><i class="far fa-calendar-alt"></i> 12/07/2018</p>  
                <p class="my-0 text-secondary"><i class="fas fa-user-circle"></i> Senaka Batagoda</p> 
                <a class="text-info">see more..</a>
                <div class="d-flex justify-content-end">
                    <span class="badge badge-primary mx-1 p-1">flood</span>
                    <span class="badge badge-primary mx-1 p-1">drinking</span>
                </div>
                <div class="d-flex justify-content-start">
                    <span class="badge badge-success mx-1 p-1"><i class="fas fa-check-circle"></i> 25</span>
                    <span class="badge badge-danger mx-1 p-1"><i class="fas fa-times-circle"></i> 3</span>
                </div>
            </div>

            <div class="card mini-post border border-primary p-1 m-1" style=" overflow-y: hidden;">
                    <p class="mini-post-title mt-3 mb-0">Bottled water is needed.</p>  
                    <p class="my-0 text-secondary"><i class="fas fa-map-marker-alt"></i> Eheliyagoda,Ratnapura</p> 
                    <p class="my-0 text-secondary"> <i class="far fa-calendar-alt"></i> 12/07/2018</p>
                    <p class="my-0 text-secondary"><i class="fas fa-user-circle"></i> Mihiri Karunarathna</p>  
                    <a class="text-info">see more..</a>
                    <div class="d-flex justify-content-end">
                        <span class="badge badge-primary mx-1 p-1">flood</span>
                    </div>
                    <div class="d-flex justify-content-start">
                        <span class="badge badge-success mx-1 p-1"><i class="fas fa-check-circle"></i> 11</span>
                        <span class="badge badge-danger mx-1 p-1"><i class="fas fa-times-circle"></i> 1</span>
                    </div>
                </div>
         

         
            




      </div>
    </div>