<!--
  <div class="container-fluid">
    <div class="card mx-auto d-flex justify-content-center text-center px-3 py-5">
        <div class="card-body ">


            <img class="card-img-top" style="width:40%;" src="../../assets/social-login.jpg" alt="Card image cap">
            <h3 class="card-title">Login</h3>
            <div class="card-body">
              <p class="card-text">or register with us.. </p>
            </div> 

            <a routerLink="/dashboard">
              <button>Login</button>
             </a> 

        </div>
    </div>
  </div>
-->

<div class="container-fluid">
	<div style="color: blue;">
		<h1>{{title}}</h1>
		<h3>{{description}}</h3>
	</div>
 
	<div style="width: 300px;">
		<form (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="item">Item</label> <input type="text"
					class="form-control" placeholder="Enter content..." id="item"
					required [(ngModel)]="itemValue" name="item">
			</div>
 
			<div class="btn-group">
				<button type="submit" class="btn btn-success">Submit</button>
			</div>
		</form>
	</div>
 
	<h2>Content from Firebase</h2>
	<div class="col-md-3">
		<pre *ngFor="let item of items | async">{{item.content}}</pre>
	</div>
</div>

