.container-fluid {
    height: 100vh;
    display:flex;
    align-items:center;
    font-family: 'Open Sans', sans-serif;
}
 
.card{
    box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0px rgba(0, 0, 0, 0);
}