
  <div class="container-fluid">
    <div class="card mx-auto d-flex justify-content-center text-center px-3 py-5">
        <div class="card-body ">


            <img class="card-img-top" style="width:40%;" src="../../assets/social1.jpg" alt="Card image cap">
            <h3 class="card-title">Welcome to Watercrowd<br><small>Water issues everyone in the town talk about..</small></h3>
            <div class="card-body">
              <p class="card-text">Crowd-sourced solution for day today water problems </p>
            </div> 
        </div>
    </div>
  </div>
