
.map {
    height: 100%;
    padding: 0;
  }

  .new-post{
    color:black;
}


.new-post{
    color:black;
}

.wrapper{
    width: 100%;
    position: absolute;
    top:0;
    height: 100vh;
    z-index: -1;
    padding:0;
    margin:0;

}

@media (min-width: 768px) {
    .wrapper{
        width: calc(100% - 200px);
        left: 200px;
        height: 100vh;
    }
    }