<div id="mySidenav" class="sidenav wc-dark-gray">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
   
  <a href="#"><img src="../../../assets/profpic.jpeg" class="rounded-circle" style="width:50px" ></a>
  <a href="#">Kasuni Samarasekara</a>
  <hr class="style3">
  <a href="#"><i class="fas fa-shopping-basket pr-3"></i>Vendors</a>
  <a href="#"><i class="fas fa-tint pr-3"></i>NWSDB</a>
  <hr class="style3">
  <a href="#"><i class="fas fa-info-circle pr-3"></i>Help</a>
  <a href="#"><i class="far fa-question-circle pr-3"></i>FAQ</a>
  <a href="#"><i class="fas fa-users pr-3"></i>About us</a>
</div>


<span style="font-size:30px;cursor:pointer; z-index: 1;" (click)="openNav()">&#9776;</span>

