<div class="card">
       
    <a class="btn wc-tab-blu-green" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
        <h5><i class="fas fa-tags p-1"></i>Tags</h5>
      </a>

      <div class="collapse" id="collapseExample2">
          <div class="card card-body">

                  <form>
                    <div class="row">
                      <div class="col">
                        <input type="text" class="form-control" placeholder="tags">
                      </div>
                      <div class="col">
                          <button type="submit" class="btn btn-primary">search</button>
                      </div>
                    </div>
                  </form>


          </div>
        </div>



  </div>